* {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}
header {
    background-color: blue;
}
.menu {
    background-color: gold;
    padding: 30px;
    height: 10px;
    
}
.menu ul {
    list-style-type: none;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    margin: 0px 120px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
}
.menu ul li a:hover {
    background-color: rgb(45, 43, 172);
}
.formulario {

}
.Renda_Fixa {
background-color: green;
}
.Renda_Variável {
background-color: yellow;
}
.considerações{
    background-color: orange;
}
footer {
background-color: deeppink;
}